/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.group, section.content {
  zoom: 1; }
  .group:before, section.content:before, .group:after, section.content:after {
    content: '';
    display: table; }
  .group:after, section.content:after {
    clear: both; }

.ir {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }

.ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

html {
  background: white url(../images/bg-body.png) repeat;
  font-size: 16px; }

body {
  color: #272829;
  font: 62.5%/1.5 "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.8em; }

p {
  color: #595b5d;
  font-size: 1.6em;
  font-weight: 400; }

a {
  color: #545d61;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

code, pre {
  background: #404243;
  border-radius: 3px;
  color: #d7dbdd;
  font-family: Consolas, Menlo, Courier, monospace;
  font-size: 1.2em;
  margin: 10px 0 0;
  padding: 10px;
  width: 75%;
  word-wrap: break-word; }

code {
  background: #545d61;
  margin: 0;
  padding: 4px; }

.inner {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1400px;
  min-width: 600px; }

.btn, .btn-default {
  background: #dadbdb;
  border-radius: 3px;
  color: #272829;
  font: 300 1.3em "Lato", Arial, Helvetica, sans-serif;
  padding: 7px 35px; }
  .btn:hover, .btn-default:hover {
    background: #bfc1c3;
    text-decoration: none; }

header {
  background: #272829;
  padding: 20px 0;
  position: relative; }
  header h1 {
    color: #FFF;
    font-weight: 900;
    line-height: 1.2; }
  header .tagline {
    color: #8b8e91;
    font-weight: 300;
    text-transform: none; }
    @media screen and (max-width: 800px) {
      header .tagline {
        font-size: 2.2em; } }
  header .download {
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    background: #545d61;
    color: #FFF;
    font-size: 2em;
    font-weight: 400;
    padding: 10px 45px;
    position: absolute;
    top: 40px;
    right: 40px; }
    header .download:hover {
      background: #485053; }
    @media screen and (max-width: 800px) {
      header .download {
        font-size: 1.6em;
        padding: 10px 25px; } }

section.content {
  margin: 20px 0 100px; }
  section.content .main {
    float: right;
    margin: 5px 0 0;
    width: 75%; }
    section.content .main h2 {
      padding-bottom: 5px; }
    section.content .main h3 {
      padding: 10px 0 5px; }
    section.content .main p {
      max-width: 85%;
      padding-bottom: 10px; }
      section.content .main p code {
        font-size: 0.75em; }
      @media screen and (max-width: 1050px) {
        section.content .main p {
          max-width: 100%; } }
    section.content .main .warn {
      background: #e7e7e8;
      border-radius: 3px;
      font-size: 1.3em;
      margin: 5px 0 10px;
      padding: 10px; }
    section.content .main aside {
      background: #e7e7e8;
      border-radius: 3px;
      padding: 10px 10px 10px 20px;
      width: 80%; }
      section.content .main aside p {
        font-size: 1.4em; }
    section.content .main ul {
      padding-left: 20px; }
      section.content .main ul li {
        font-size: 1.6em;
        list-style-type: disc; }
    section.content .main a {
      text-decoration: underline; }
      section.content .main a:hover {
        color: #859196; }
    section.content .main img {
      border: 3px solid #545d61;
      border-radius: 6px;
      margin: 20px 5px 5px 0;
      padding: 3px; }
  section.content .sidebar {
    float: left;
    margin: 10px 0 0;
    width: 20%; }
    section.content .sidebar ol li {
      font-size: 1.6em; }
    section.content .sidebar ol a {
      color: #272829;
      display: block;
      padding: 4px 4px 4px 20px; }
      section.content .sidebar ol a:hover {
        color: #545d61;
        text-decoration: none; }
    section.content .sidebar ol .active {
      background: #545d61;
      border-left: 5px solid #343434;
      color: #FFF;
      padding-left: 15px;
      position: relative; }
      section.content .sidebar ol .active:after {
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid #545d61;
        content: '';
        height: 0;
        position: absolute;
        right: -16px;
        top: 0;
        width: 0; }
        @media screen and (max-width: 930px) {
          section.content .sidebar ol .active:after {
            border: 0; } }
      section.content .sidebar ol .active:hover {
        background: #545d61;
        border-left: 5px solid #343434;
        color: #FFF; }
