//-----------------------------------------------------------------------
//  Settings
//-----------------------------------------------------------------------

// ----- @font-face ----- //

// ...

// ----- Variables ----- //

//Routes

$htcRoute: "";

// Colors

$color-base: #222;
$color-highlight: #0053C9;

// Fonts

$font-base: sans-serif;
$font-header: sans-serif;

// ----- Mixins ----- //

@mixin linear-gradient($direction, $color, $start, $end) {
  background-color: $color;
  background-image: -webkit-linear-gradient($direction, $start, $end);
  background-image: -moz-linear-gradient($direction, $start, $end);
  background-image: -ms-linear-gradient($direction, $start, $end);
  background-image: -o-linear-gradient($direction, $start, $end);
  background-image: linear-gradient($direction, $start, $end);
}
@mixin transform($arguments) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -ms-transform: $arguments;
  transform: $arguments;
  -webkit-backface-visibility: hidden;
}
@mixin transition($arguments) {
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -ms-transition: $arguments;
  transition: $arguments;
}

@mixin opacity($opacity){
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
	opacity: $opacity;
	filter: alpha(opacity=$opacity);
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
}

@mixin border-radius($rad){
	border-radius: $rad;
	-moz-border-radius: $rad;
	-webkit-border-radius: $rad;
	-o-border-radius: $rad;
	behavior: url($htcRoute + "border-radius.htc");
}

@mixin box-shadow($x, $y, $shadow, $color) {
	box-shadow: $x $y $shadow $color;
	-moz-box-shadow: $x $y $shadow $color;
	-webkit-box-shadow: $x $y $shadow $color;
	-o-box-shadow: $x $y $shadow $color;
}
	
@mixin inset-shadow($x, $y, $shadow, $color){
	box-shadow: inset $x $y $shadow $color;
	-moz-box-shadow: inset $x $y $shadow $color;
	-webkit-box-shadow: inset $x $y $shadow $color;
	-o-box-shadow: inset $x $y $shadow $color;
}
	
@mixin text-shadow($x, $y, $shadow, $color){
	
	text-shadow: $x $y $shadow $color;
	-moz-text-shadow: $x $y $shadow $color;
	-webkit-text-shadow: $x $y $shadow $color;
	-o-text-shadow: $x $y $shadow $color;
	
}

// ----- Extends ----- //

.group {
  zoom: 1;
  &:before,
  &:after {
    content: '';
    display: table;
  };
  &:after {
    clear: both;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ----- Animations ----- //
