//-----------------------------------------------------------------------
//  Imports
//-----------------------------------------------------------------------

@import 'reset';
@import 'settings';
@import 'base';

//-----------------------------------------------------------------------
//  Modules
//-----------------------------------------------------------------------

// ----- Buttons ----- //

.btn {

}
.btn-default {
  @extend .btn;
}
.btn-alt {

}
.btn-highlight {

}

// ----- Icons ----- //

i {

}
.icn {

}
// .icn-add, .icn-close, etc.

// ----- Forms ----- //

form {
  
}

// ----- Modals ----- //

.modal {

}

// ----- Tooltips ----- //

.tooltip {

}

// ----- Thumbs ----- //

.thumb {

}

// ----- Dropdowns ----- //

.dropdown {

}

//-----------------------------------------------------------------------
//  Application
//-----------------------------------------------------------------------

// Header, Logo, Navigation, Footer, etc.

//-----------------------------------------------------------------------
//  Controller Name
//-----------------------------------------------------------------------

// ----- Action Name ----- //
