!!! 5
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
  %meta{ :charset => "utf-8" }
  %title
  %link{ :href => "css/application.css", :rel => "stylesheet" }
%body
  / Content
</html>
