//-------------------------------------
//  Containers
//-------------------------------------

// ----- Rows ----- //

// Row Default Variables

$row-margin: 0 !default
$row-padding-bottom: 20px !default
$row-padding-top: 20px !default

// Row Default Modifier Variables

$row--a-bg: $color-base !default
$row--b-bg: lighten($color-base, 65%) !default

// ----- Base Row ----- //

%row, .row
  margin: $row-margin
  padding: em($row-padding-top) 0 em($row-padding-bottom)

// ----- Row Modifiers ----- //

.row--a
  @extend %row
  background-color: $row--a-bg
.row--b
  @extend %row
  background-color: $row--b-bg

// ----- Cells ----- //

// Cell Default Variables

$cell-width: 980px !default
$cell-padding-left: 80px !default
$cell-padding-right: 80px !default

// ----- Cell Base ----- //

%cell, .cell
  margin: 0 auto
  max-width: em($cell-width)
  padding-left: em($cell-padding-left)
  padding-right: em($cell-padding-right)
  position: relative

// ----- Cards ----- //

// Card Default Variables

$card-margin-bottom: 20px !default
$card-margin-top: 20px !default
$card-padding-top: 15px !default
$card-padding-right: 15px !default
$card-padding-bottom: 15px !default
$card-padding-left: 15px !default

// Card Default Modifer Variables

$card--a-bg: #FFF !default
$card--b-bg: lighten($color-base, 65%) !default

// ----- Card Base ----- //

%card, .card
  border-radius: em($border-radius)
  margin: em($card-margin-top) 0 em($card-margin-bottom)
  padding: em($card-padding-top) em($card-padding-right) em($card-padding-bottom) em($card-padding-left)
  position: relative

// ----- Card Modifiers ----- //

.card--a
  @extend %card
  background: $card--a-bg
  box-shadow: $box-shadow
.card--b
  @extend %card
  background: $card--b-bg
