// *************************************
//
//   About
//
// *************************************

.about
  @extend .pbm
  @extend .ptm
  @extend .tac
  background: darken($c-highlight, 5%)
  bottom: 0
  color: lighten($c-highlight, 40%)
  left: 0
  margin: 0
  position: absolute
  right: 0
  top: auto

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Link ----- //

.about-link
  color: lighten($c-highlight, 50%)
  &:hover,
  &:focus
    @extend .tci
    background: none

// ----- Title ----- //

.about-title
  @extend .db
  font-weight: 300

