// *************************************
//
//   Navigation
//   -> Site-wide navigation
//
// *************************************

.nav
  ul, li
    @extend .lr

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sub ----- //

.nav-list--sub
  @extend .dn

  .nav-link
    background: darken($c-highlight, 5%)
    font-size: 90%
    padding: 0.5 * $b-whitespace
    padding-left: 2 * $b-whitespace

// -------------------------------------
//   States
// -------------------------------------

// ----- Actve ----- //

.nav-list--sub.is-active
  @extend .db
  background: darken($c-highlight, 5%)

.nav-item.is-active
  > .nav-link
    @extend .bcbg
    @extend .tcb
    box-shadow: -2px 2px 1px rgba(darken($c-highlight, 20%), 0.35)
    margin-right: -4px

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Link ----- //

.nav-link
  @extend .db
  @extend .pbs
  @extend .plm
  @extend .prm
  @extend .pts
  @extend .tci
  border: 0
  font-size: 110%
  -webkit-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out
  &:hover,
  &:focus
    background: darken($c-highlight, 10%)

