//-------------------------------------
//  Settings
//-------------------------------------

// ----- @font-face ----- //

// Open Sans Regular

@font-face
  font-family: 'OpenSansRegular'
  src: url('../fonts/OpenSans-Regular-webfont.eot')
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg')
  font-weight: normal
  font-style: normal

// Open Sans Bold

@font-face
  font-family: 'OpenSansRegular'
  src: url('../fonts/OpenSans-Bold-webfont.eot')
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg')
  font-weight: bold
  font-style: normal

// ----- Variables ----- //

// Colors

$color-base: #272829 !default
$color-body: #EEE !default
$color-border: lighten($color-base, 50%) !default
$color-highlight: #BD4C28 !default

// Text Selection Colors

$color-selection-bg: $color-highlight !default
$color-selection: #FFF !default

// Utility Colors

$color-error: #D43322 !default
$color-success: #017055 !default
$color-warning: #CA7B21 !default

// Fonts

$font-base: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif !default
$font-monospace: Monaco, monospace !default

// Borders

$border-radius: 3px !default
$border-style: 2px solid $color-border !default

// Box Shadows

$box-shadow: 0 1px 1px rgba(#000, 0.2) !default

// Typography

$base-font-size: 16px !default
$base-line-height: 1.5 !default

// ----- Mixins ----- //

// Sample usage: +caret(bottom, 8px, #000); //

=caret($side, $size, $color)
  $opposite: opposite-position($side)
  +stretch(50%, auto, auto, 50%)
  border: $size solid transparent
  border-#{$opposite}: $size solid $color
  border-#{$side}: 0
  content: ''
  display: block
  height: 0
  margin: (-$size) 0 0 (-$size)
  margin-#{$side}: 0
  width: 0
  #{$side}: -$size
  #{$opposite}: auto

=respond-to($val, $query: min-width, $media: screen)
  @media #{$media} and ($query: $val)
    @content

// ----- Functions ----- //

@function em($target, $context: $base-font-size)
  @if ($target == 0)
    @return 0
  @else
    @return #{$target / $context}em

// ----- Extends ----- //

%debug
  background-color: pink !important

%ellipsis
  overflow: hidden
  -ms-text-overflow: ellipsis
  -o-text-overflow: ellipsis
  text-overflow: ellipsis
  white-space: nowrap

%group
  zoom: 1
  &:before,
  &:after
    content: ''
    display: table
  &:after
    clear: both

%ir
  background-color: transparent
  border: 0
  color: transparent
  font: 0/0 a
  text-shadow: none

// ----- Animations ----- //
