/* line 9, core/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 28, core/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, core/_reset.sass */
body {
  line-height: 1; }

/* line 33, core/_reset.sass */
ol, ul {
  list-style: none; }

/* line 35, core/_reset.sass */
blockquote, q {
  quotes: none; }

/* line 37, core/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 41, core/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* line 108, core/_settings.sass */
.tabs {
  zoom: 1; }
  /* line 110, core/_settings.sass */
  .tabs:before, .tabs:after {
    content: "";
    display: table; }
  /* line 114, core/_settings.sass */
  .tabs:after {
    clear: both; }

/* line 5, core/_base.sass */
html {
  background: white;
  font-size: 16px; }

/* line 8, core/_base.sass */
body {
  color: #272829;
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; }

/* line 17, core/_base.sass */
h1, h2, h3,
h4, h5, h6 {
  font-weight: bold; }

/* line 20, core/_base.sass */
h1, .h1 {
  font-size: 2.5em; }

/* line 22, core/_base.sass */
h2, .h2 {
  font-size: 2.1875em; }

/* line 24, core/_base.sass */
h3, .h3 {
  font-size: 1.875em; }

/* line 26, core/_base.sass */
h4, .h4 {
  font-size: 1.5625em; }

/* line 28, core/_base.sass */
h5, .h5 {
  font-size: 1.25em; }

/* line 30, core/_base.sass */
h6, .h6 {
  font-size: 1em; }

/* line 35, core/_base.sass */
p {
  color: #4c4e50;
  font-size: 1em;
  margin: 0 0 0.625em; }
  /* line 39, core/_base.sass */
  p a {
    text-decoration: underline; }
    /* line 41, core/_base.sass */
    p a:hover {
      color: #3c4346; }

/* line 48, core/_base.sass */
a {
  color: #545d61;
  text-decoration: none; }
  /* line 51, core/_base.sass */
  a:hover, a:focus {
    text-decoration: underline; }

/* line 57, core/_base.sass */
em {
  font-style: italic; }

/* line 59, core/_base.sass */
strong {
  font-weight: bold; }

/* line 64, core/_base.sass */
::selection {
  background: #545d61;
  color: white; }

/* line 67, core/_base.sass */
::-moz-selection {
  background: #545d61;
  color: white; }

/* line 21, modules/_buttons.sass */
.btn--a, .btn--b, .btn {
  border-radius: 0.1875em;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  padding: 0.71429em 2.14286em;
  text-align: center; }
  /* line 29, modules/_buttons.sass */
  .btn--a:focus, .btn--b:focus, .btn--a:hover, .btn--b:hover, .btn:focus, .btn:hover {
    text-decoration: none; }

/* line 35, modules/_buttons.sass */
.btn--a {
  background: #545d61;
  color: white; }
  /* line 39, modules/_buttons.sass */
  .btn--a:focus, .btn--a:hover {
    background: #485053; }

/* line 45, modules/_buttons.sass */
.btn--b {
  background: #a5a8aa;
  color: #272829; }
  /* line 49, modules/_buttons.sass */
  .btn--b:focus, .btn--b:hover {
    background: #989b9d; }

/* line 55, modules/_buttons.sass */
.btn--block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%; }

/* line 62, modules/_buttons.sass */
.btn--large {
  font-size: 1.25em;
  padding-left: 5em;
  padding-right: 5em; }

/* line 69, modules/_buttons.sass */
.btn--small {
  font-size: 0.75em;
  letter-spacing: 0.08333em;
  text-transform: uppercase; }

/* line 76, modules/_buttons.sass */
.btn--mini {
  font-size: 0.625em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

/* line 20, modules/_containers.sass */
.row--a, .row--b, .row {
  margin: 0;
  padding: 1.25em 0 1.25em; }

/* line 26, modules/_containers.sass */
.row--a {
  background-color: white; }

/* line 29, modules/_containers.sass */
.row--b {
  background-color: #cdcecf; }

/* line 43, modules/_containers.sass */
.cell {
  margin: 0 auto;
  max-width: 61.25em;
  padding-left: 5em;
  padding-right: 5em;
  position: relative; }

/* line 68, modules/_containers.sass */
.card--a, .card--b, .card {
  border-radius: 0.1875em;
  margin: 1.25em 0 1.25em;
  padding: 0.3125em 0 0.3125em 0;
  position: relative; }

/* line 76, modules/_containers.sass */
.card--a {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 80, modules/_containers.sass */
.card--b {
  background: #cdcecf; }

/* line 15, modules/_forms.sass */
.form {
  margin: 1.25em 0; }

/* line 20, modules/_forms.sass */
input::-webkit-input-placeholder {
  color: #8b8e91; }

/* line 22, modules/_forms.sass */
input:-moz-placeholder {
  color: #8b8e91; }

/* line 24, modules/_forms.sass */
input::-moz-placeholder {
  color: #8b8e91; }

/* line 26, modules/_forms.sass */
input:-ms-input-placeholder {
  color: #8b8e91; }

/* line 31, modules/_forms.sass */
.form-header {
  margin-bottom: 0.625em; }

/* line 36, modules/_forms.sass */
.form-field {
  margin-bottom: 1.25em; }

/* line 41, modules/_forms.sass */
.form-field--submit {
  margin-top: 1.25em; }

/* line 46, modules/_forms.sass */
.form-label {
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  margin-bottom: 0.3125em; }
  /* line 51, modules/_forms.sass */
  .form-label em {
    color: #d43322; }

/* line 56, modules/_forms.sass */
.form-label--radio,
.form-label--check {
  font-size: 0.875em;
  font-weight: normal; }

/* line 63, modules/_forms.sass */
.form-note {
  color: #8b8e91;
  font-size: 0.875em;
  margin-top: 0.35714em; }

/* line 70, modules/_forms.sass */
.form-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 1px solid #a5a8aa;
  border-radius: 0.1875em;
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  padding: 0.71429em 0.57143em;
  width: 100%; }
  /* line 79, modules/_forms.sass */
  .form-input:focus {
    box-shadow: 0 0 3px rbga(#a5a8aa, 0.8);
    outline: none; }

/* line 85, modules/_forms.sass */
.form-select {
  width: 30%; }

/* line 22, modules/_grids.sass */
.grid {
  display: block;
  letter-spacing: -0.31em;
  margin-left: -15px;
  margin-right: -15px;
  text-rendering: optimizespeed;
  word-spacing: -0.43em; }

/* line 30, modules/_grids.sass */
.grid-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  letter-spacing: normal;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal; }

/* line 44, modules/_grids.sass */
.grid--center {
  text-align: center; }

/* line 47, modules/_grids.sass */
.grid-box--center {
  display: block;
  margin: 0 auto; }

/* line 57, modules/_grids.sass */
.grid-box--1of1 {
  width: 100%; }

/* line 62, modules/_grids.sass */
.grid-box--1of2, .grid-box--2of4, .grid-box--3of6, .grid-box--4of8, .grid-box--5of10, .grid-box--6of12 {
  width: 50%; }

/* line 68, modules/_grids.sass */
.grid-box--1of3, .grid-box--2of6, .grid-box--4of12 {
  width: 33.333%; }

/* line 70, modules/_grids.sass */
.grid-box--2of3, .grid-box--4of6, .grid-box--8of12 {
  width: 66.666%; }

/* line 76, modules/_grids.sass */
.grid-box--1of4, .grid-box--2of8, .grid-box--3of12 {
  width: 25%; }

/* line 80, modules/_grids.sass */
.grid-box--3of4, .grid-box--6of8, .grid-box--9of12 {
  width: 75%; }

/* line 86, modules/_grids.sass */
.grid-box--1of5, .grid-box--2of10 {
  width: 20%; }

/* line 88, modules/_grids.sass */
.grid-box--2of5, .grid-box--4of10 {
  width: 40%; }

/* line 90, modules/_grids.sass */
.grid-box--3of5, .grid-box--6of10 {
  width: 60%; }

/* line 92, modules/_grids.sass */
.grid-box--4of5, .grid-box--8of10 {
  width: 80%; }

/* line 98, modules/_grids.sass */
.grid-box--1of6, .grid-box--2of12 {
  width: 16.666%; }

/* line 106, modules/_grids.sass */
.grid-box--5of6, .grid-box--10of12 {
  width: 83.333%; }

/* line 112, modules/_grids.sass */
.grid-box--1of8 {
  width: 12.5%; }

/* line 116, modules/_grids.sass */
.grid-box--3of8 {
  width: 37.5%; }

/* line 120, modules/_grids.sass */
.grid-box--5of8 {
  width: 62.5%; }

/* line 124, modules/_grids.sass */
.grid-box--7of8 {
  width: 87.5%; }

/* line 130, modules/_grids.sass */
.grid-box--1of10 {
  width: 10%; }

/* line 134, modules/_grids.sass */
.grid-box--3of10 {
  width: 30%; }

/* line 142, modules/_grids.sass */
.grid-box--7of10 {
  width: 70%; }

/* line 146, modules/_grids.sass */
.grid-box--9of10 {
  width: 90%; }

/* line 152, modules/_grids.sass */
.grid-box--1of12 {
  width: 8.333%; }

/* line 160, modules/_grids.sass */
.grid-box--5of12 {
  width: 41.666%; }

/* line 164, modules/_grids.sass */
.grid-box--7of12 {
  width: 58.333%; }

/* line 172, modules/_grids.sass */
.grid-box--11of12 {
  width: 91.666%; }

@media screen and (min-width: 480px) {
  /* line 57, modules/_grids.sass */
  .grid-box--lap--1of1 {
    width: 100%; }

  /* line 62, modules/_grids.sass */
  .grid-box--lap--1of2, .grid-box--lap--2of4, .grid-box--lap--3of6, .grid-box--lap--4of8, .grid-box--lap--5of10, .grid-box--lap--6of12 {
    width: 50%; }

  /* line 68, modules/_grids.sass */
  .grid-box--lap--1of3, .grid-box--lap--2of6, .grid-box--lap--4of12 {
    width: 33.333%; }

  /* line 70, modules/_grids.sass */
  .grid-box--lap--2of3, .grid-box--lap--4of6, .grid-box--lap--8of12 {
    width: 66.666%; }

  /* line 76, modules/_grids.sass */
  .grid-box--lap--1of4, .grid-box--lap--2of8, .grid-box--lap--3of12 {
    width: 25%; }

  /* line 80, modules/_grids.sass */
  .grid-box--lap--3of4, .grid-box--lap--6of8, .grid-box--lap--9of12 {
    width: 75%; }

  /* line 86, modules/_grids.sass */
  .grid-box--lap--1of5, .grid-box--lap--2of10 {
    width: 20%; }

  /* line 88, modules/_grids.sass */
  .grid-box--lap--2of5, .grid-box--lap--4of10 {
    width: 40%; }

  /* line 90, modules/_grids.sass */
  .grid-box--lap--3of5, .grid-box--lap--6of10 {
    width: 60%; }

  /* line 92, modules/_grids.sass */
  .grid-box--lap--4of5, .grid-box--lap--8of10 {
    width: 80%; }

  /* line 98, modules/_grids.sass */
  .grid-box--lap--1of6, .grid-box--lap--2of12 {
    width: 16.666%; }

  /* line 106, modules/_grids.sass */
  .grid-box--lap--5of6, .grid-box--lap--10of12 {
    width: 83.333%; }

  /* line 112, modules/_grids.sass */
  .grid-box--lap--1of8 {
    width: 12.5%; }

  /* line 116, modules/_grids.sass */
  .grid-box--lap--3of8 {
    width: 37.5%; }

  /* line 120, modules/_grids.sass */
  .grid-box--lap--5of8 {
    width: 62.5%; }

  /* line 124, modules/_grids.sass */
  .grid-box--lap--7of8 {
    width: 87.5%; }

  /* line 130, modules/_grids.sass */
  .grid-box--lap--1of10 {
    width: 10%; }

  /* line 134, modules/_grids.sass */
  .grid-box--lap--3of10 {
    width: 30%; }

  /* line 142, modules/_grids.sass */
  .grid-box--lap--7of10 {
    width: 70%; }

  /* line 146, modules/_grids.sass */
  .grid-box--lap--9of10 {
    width: 90%; }

  /* line 152, modules/_grids.sass */
  .grid-box--lap--1of12 {
    width: 8.333%; }

  /* line 160, modules/_grids.sass */
  .grid-box--lap--5of12 {
    width: 41.666%; }

  /* line 164, modules/_grids.sass */
  .grid-box--lap--7of12 {
    width: 58.333%; }

  /* line 172, modules/_grids.sass */
  .grid-box--lap--11of12 {
    width: 91.666%; } }
@media screen and (min-width: 800px) {
  /* line 57, modules/_grids.sass */
  .grid-box--desk--1of1 {
    width: 100%; }

  /* line 62, modules/_grids.sass */
  .grid-box--desk--1of2, .grid-box--desk--2of4, .grid-box--desk--3of6, .grid-box--desk--4of8, .grid-box--desk--5of10, .grid-box--desk--6of12 {
    width: 50%; }

  /* line 68, modules/_grids.sass */
  .grid-box--desk--1of3, .grid-box--desk--2of6, .grid-box--desk--4of12 {
    width: 33.333%; }

  /* line 70, modules/_grids.sass */
  .grid-box--desk--2of3, .grid-box--desk--4of6, .grid-box--desk--8of12 {
    width: 66.666%; }

  /* line 76, modules/_grids.sass */
  .grid-box--desk--1of4, .grid-box--desk--2of8, .grid-box--desk--3of12 {
    width: 25%; }

  /* line 80, modules/_grids.sass */
  .grid-box--desk--3of4, .grid-box--desk--6of8, .grid-box--desk--9of12 {
    width: 75%; }

  /* line 86, modules/_grids.sass */
  .grid-box--desk--1of5, .grid-box--desk--2of10 {
    width: 20%; }

  /* line 88, modules/_grids.sass */
  .grid-box--desk--2of5, .grid-box--desk--4of10 {
    width: 40%; }

  /* line 90, modules/_grids.sass */
  .grid-box--desk--3of5, .grid-box--desk--6of10 {
    width: 60%; }

  /* line 92, modules/_grids.sass */
  .grid-box--desk--4of5, .grid-box--desk--8of10 {
    width: 80%; }

  /* line 98, modules/_grids.sass */
  .grid-box--desk--1of6, .grid-box--desk--2of12 {
    width: 16.666%; }

  /* line 106, modules/_grids.sass */
  .grid-box--desk--5of6, .grid-box--desk--10of12 {
    width: 83.333%; }

  /* line 112, modules/_grids.sass */
  .grid-box--desk--1of8 {
    width: 12.5%; }

  /* line 116, modules/_grids.sass */
  .grid-box--desk--3of8 {
    width: 37.5%; }

  /* line 120, modules/_grids.sass */
  .grid-box--desk--5of8 {
    width: 62.5%; }

  /* line 124, modules/_grids.sass */
  .grid-box--desk--7of8 {
    width: 87.5%; }

  /* line 130, modules/_grids.sass */
  .grid-box--desk--1of10 {
    width: 10%; }

  /* line 134, modules/_grids.sass */
  .grid-box--desk--3of10 {
    width: 30%; }

  /* line 142, modules/_grids.sass */
  .grid-box--desk--7of10 {
    width: 70%; }

  /* line 146, modules/_grids.sass */
  .grid-box--desk--9of10 {
    width: 90%; }

  /* line 152, modules/_grids.sass */
  .grid-box--desk--1of12 {
    width: 8.333%; }

  /* line 160, modules/_grids.sass */
  .grid-box--desk--5of12 {
    width: 41.666%; }

  /* line 164, modules/_grids.sass */
  .grid-box--desk--7of12 {
    width: 58.333%; }

  /* line 172, modules/_grids.sass */
  .grid-box--desk--11of12 {
    width: 91.666%; } }
/* line 13, modules/_tables.sass */
.table {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875em;
  margin: 1.42857em 0;
  width: 100%; }

/* line 24, modules/_tables.sass */
.table--striped .table-body tr:nth-child(odd) {
  background: #f4f4f4; }

/* line 29, modules/_tables.sass */
.table-row {
  border-bottom: 1px solid #a5a8aa; }
  /* line 34, modules/_tables.sass */
  .table-row th, .table-row td {
    padding: 0.57143em; }
  /* line 37, modules/_tables.sass */
  .table-row th {
    font-weight: bold;
    text-align: left; }
  /* line 43, modules/_tables.sass */
  .table-row td .btn {
    font-size: 0.875em;
    padding-bottom: 0.35714em;
    padding-top: 0.35714em; }

/* line 13, modules/_tabs.sass */
.tabs {
  margin: 1.25em 0 0; }

/* line 19, modules/_tabs.sass */
.tab {
  float: left;
  font-size: 1em; }
  /* line 22, modules/_tabs.sass */
  .tab a {
    border-radius: 0.1875em 0.1875em 0 0;
    background: #dadbdb;
    color: #272829;
    display: block;
    margin-right: 0.625em;
    padding: 0.5em 1.5625em; }
    /* line 32, modules/_tabs.sass */
    .tab a.is-active {
      background: white; }

/* line 37, modules/_tabs.sass */
.tabs-content {
  border-radius: 0 0 0.1875em 0.1875em;
  display: none;
  margin-top: 0; }
  /* line 44, modules/_tabs.sass */
  .tabs-content.is-visible {
    display: block; }

/* line 7, _docs.sass */
.siteHeader {
  background: #272829;
  box-shadow: none; }
  /* line 10, _docs.sass */
  .siteHeader h1 {
    color: white; }
  /* line 12, _docs.sass */
  .siteHeader p {
    font-size: 1.5em;
    font-weight: normal;
    color: #8b8e91;
    margin: 0; }
  /* line 17, _docs.sass */
  .siteHeader .btn--a {
    font-size: 1.125em;
    margin-top: 1.22222em; }

/* line 24, _docs.sass */
.contentSection h2 {
  margin-bottom: 0.3125em; }
/* line 26, _docs.sass */
.contentSection code {
  background: #dadbdb;
  border-radius: 3px;
  font-family: Monaco, monospace;
  font-size: 0.875em;
  padding: 0.14286em 0.5em; }

/* line 35, _docs.sass */
.contentSection-list {
  margin-bottom: 0.625em;
  padding-left: 1.25em; }
  /* line 38, _docs.sass */
  .contentSection-list li {
    list-style-type: square;
    margin-bottom: 0.3125em; }

/* line 44, _docs.sass */
.example h4 {
  margin-bottom: 0.4em; }

/* line 49, _docs.sass */
.example-label {
  background: #bfc1c3;
  font-family: Monaco, monospace;
  font-size: 0.75em;
  margin: 0;
  padding: 0.83333em 2em;
  position: absolute;
  right: -5px;
  top: -5px; }

/* line 61, _docs.sass */
.example-label--b {
  top: 0; }

/* line 66, _docs.sass */
.example-markup {
  background: #e7e7e8;
  font-family: Monaco, monospace;
  font-size: 0.8125em;
  margin: 0.76923em 0;
  overflow-x: auto;
  padding: 0.76923em 1.84615em; }

/* line 76, _docs.sass */
.example-markup--b {
  background: white; }

/* line 81, _docs.sass */
.sectionList li {
  font-size: 1em;
  margin-top: 0.625em; }
  /* line 84, _docs.sass */
  .sectionList li.is-developing {
    color: #a5a8aa; }
  /* line 86, _docs.sass */
  .sectionList li a {
    color: #272829;
    display: block;
    margin-bottom: 0.625em;
    padding: 0.3125em 0; }
    /* line 91, _docs.sass */
    .sectionList li a.is-active {
      background: #545d61;
      border-radius: 3px;
      color: white;
      padding-left: 1.25em;
      margin-left: -1.25em; }

/* line 100, _docs.sass */
.example-output--grids {
  margin: 0 0.9375em; }
  /* line 102, _docs.sass */
  .example-output--grids .grid-box {
    background: #bfc1c3;
    border-right: 2px solid #a5a8aa;
    height: 50px;
    margin-bottom: 10px; }
    /* line 107, _docs.sass */
    .example-output--grids .grid-box:last-child {
      border-right: 0; }
    /* line 109, _docs.sass */
    .example-output--grids .grid-box p {
      line-height: 3.125em;
      text-align: center; }
